Binaries/
Content/StarterContent
Content/Animations
Content/Architecture
Content/Audio
Content/Blueprints/
Content/Character
Content/Maps
Content/Materials
Content/Meshes
Content/Particles
Content/Props
Content/Shapes
Content/Textures
Content/TRASH
Content/FirstPerson
Content/UI
DerivedDataCache/
Intermediate/Build
Intermediate/Shaders
Intermediate/ProjectFiles/obj
Intermediate/ProjectFiles/*
Intermediate/Staging/
!Intermediate/ProjectFiles/SpaceStationGame*
Intermediate/ProjectFiles/SpaceStationGame.vcxproj.user
Saved/
Build/
ThirdParty/

#Filetypes
*.pdb
*.exe

*.opensdf
*.sdf
*.suo
*.suo

*.ico

TP_FirstPerson_Preview.png
Intermediate/CachedAssetRegistry.bin